/*
=============== 
Variables
===============
*/
/* primary/main color */
/* lighter shades of primary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* Global classes */
.btn {
  padding: 0.2rem 1rem;
  color: #fff;
  background: #1a6aa2;
  border-radius: 0.25rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  margin: 0 0.2rem;
  transition: all 0.3s linear;
  text-transform: capitalize;
}

.btn:hover {
  transform: scale(1.1);
}

nav {
  background: #bb2525;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

nav .nav_center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0 2rem;
  width: 100%;
}

nav .nav_center .nav_headers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

nav .nav_center .nav_headers .toggle_menu {
  display: none;
}

nav .nav_center .nav_headers h1 {
  background: #063251;
  background-image: linear-gradient(135deg, #020024 0%, #790976 38%, #00d4ff 100%);
  background-clip: text;
  color: transparent;
}

nav .nav_center .nav_links {
  padding: 0 0.5rem;
}

nav .nav_center .nav_links .nav_link {
  margin: 0 0.3rem;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s linear;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

nav .nav_center .nav_links .nav_link:hover {
  color: #104e7a;
}

nav .nav_center .nav_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

nav .nav_center .nav_auth .login,
nav .nav_center .nav_auth .register,
nav .nav_center .nav_auth .logoff {
  background: #020024;
  background: linear-gradient(135deg, #020024 0%, #790976 38%, #00d4ff 100%);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 40;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background: #bb2525;
  padding: 5px 25px;
}

footer .footer-container {
  width: 100%;
  display: grid;
  grid-gap: 25px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}

footer .footer-trademark p {
  color: #222;
  font-size: 0.7rem;
}

footer .footer-navs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

footer .footer-nav a {
  text-transform: capitalize;
  padding: 0 0.5rem;
  font-size: 0.7rem;
  word-spacing: 0.1rem;
  color: #fff;
  transition: all 0.3s linear;
}

footer .footer-nav a:hover {
  transition: all 0.3s linear;
  color: #063251;
}

footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

footer .footer-links .footer-link {
  padding: 0 0.2rem;
  height: 100%;
}

footer .footer-links .footer-link a {
  font-size: 1.5rem;
  color: #ebf7ff;
  transition: all 0.3s linear;
}

footer .footer-links .footer-link a:hover {
  color: #063251;
  transition: all 0.3s linear;
}

.register-user {
  height: 100%;
  width: 100%;
  margin: 1rem 0;
  overflow: hidden;
}

.register-form {
  background: #c5e5fc;
  border-radius: 0.25rem;
  display: grid;
  grid-gap: 25px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
  position: relative;
  top: 0;
  left: 0;
  padding: 1rem 0;
  width: 280vh;
  transition: all 0.3s linear;
}

.register-form.slide {
  transition: all 0.3s linear;
  left: -120%;
}

.register-form .part {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 1rem;
  height: 100%;
  position: relative;
  transition: all 0.3s linear;
  margin: 0 3rem;
}

.register-form label {
  font-size: 1rem;
  padding: 0.3rem 0.3rem;
  text-align: right;
}

.register-form .form-control {
  display: grid;
  grid-gap: 25px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 0.3rem 0;
}

.register-form .form-control .form-input {
  font-size: 1rem;
  padding: 0.2rem;
  border: 0.5px #9eb2c7 solid;
  border-radius: 0.25rem;
}

.register-form .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2rem;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 80px 0;
  background: #ebf7ff;
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  color: #324d67;
}

/* Global form classes */
.form {
  background: #c5e5fc;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
}

.form label {
  font-size: 1rem;
  padding: 0.3rem 0.3rem;
  text-align: right;
}

.form .form-control {
  display: grid;
  grid-gap: 25px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 0.3rem 0;
}

.form .form-control .form-input {
  font-size: 1rem;
  padding: 0.2rem;
  border: 0.5px #9eb2c7 solid;
  border-radius: 0.25rem;
}

.form .form-title {
  width: 100%;
  align-self: flex-start;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 0.7rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */
/*# sourceMappingURL=main.css.map */