@import 'config';
@import 'nav';
@import 'footer';
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Tahoma, sans-serif;
  background: $clr-grey-10;
  color: $clr-grey-1;
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  @include flexMix(column);
  justify-content: space-around;
  padding: 0 2rem;
  height: 100vh;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: $clr-grey-3;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 0.7rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
